set_io serial_tx AA19
set_io serial_rx V18
set_io cpu_reset G4
set_io clk100 R4
set_io ddram_a[0] M2
set_io ddram_a[1] M5
set_io ddram_a[2] M3
set_io ddram_a[3] M1
set_io ddram_a[4] L6
set_io ddram_a[5] P1
set_io ddram_a[6] N3
set_io ddram_a[7] N2
set_io ddram_a[8] M6
set_io ddram_a[9] R1
set_io ddram_a[10] L5
set_io ddram_a[11] N5
set_io ddram_a[12] N4
set_io ddram_a[13] P2
set_io ddram_a[14] P6
set_io ddram_ba[0] L3
set_io ddram_ba[1] K6
set_io ddram_ba[2] L4
set_io ddram_ras_n J4
set_io ddram_cas_n K3
set_io ddram_we_n L1
set_io ddram_dm[0] G3
set_io ddram_dm[1] F1
set_io ddram_dq[0] G2
set_io ddram_dq[1] H4
set_io ddram_dq[2] H5
set_io ddram_dq[3] J1
set_io ddram_dq[4] K1
set_io ddram_dq[5] H3
set_io ddram_dq[6] H2
set_io ddram_dq[7] J5
set_io ddram_dq[8] E3
set_io ddram_dq[9] B2
set_io ddram_dq[10] F3
set_io ddram_dq[11] D2
set_io ddram_dq[12] C2
set_io ddram_dq[13] A1
set_io ddram_dq[14] E2
set_io ddram_dq[15] B1
set_io ddram_dqs_p[0] K2
set_io ddram_dqs_p[1] E1
set_io ddram_dqs_n[0] J2
set_io ddram_dqs_n[1] D1
set_io ddram_clk_p P5
set_io ddram_clk_n P4
set_io ddram_cke J6
set_io ddram_odt K4
set_io ddram_reset_n G1

set_io clk_bft_2 pr2_SYN0
set_io clk_bft_6 pr6_SYN0
set_io clk_bft_9 pr9_SYN0
set_io clk_bft_10 pr10_SYN0
set_io clk_bft_11 pr11_SYN0
set_io clk_bft_13 pr13_SYN0

set_io resend_2 pr2_SYN1
set_io resend_6 pr6_SYN1
set_io resend_9 pr9_SYN1
set_io resend_10 pr10_SYN1
set_io resend_11 pr11_SYN1
set_io resend_13 pr13_SYN1

set_io rst_bft_2 pr2_SYN2
set_io rst_bft_6 pr6_SYN2
set_io rst_bft_9 pr9_SYN2
set_io rst_bft_10 pr10_SYN2
set_io rst_bft_11 pr11_SYN2
set_io rst_bft_13 pr13_SYN2

set_io dout_leaf_2[0] pr2_SYN3
set_io dout_leaf_2[1] pr2_SYN4
set_io dout_leaf_2[2] pr2_SYN5
set_io dout_leaf_2[3] pr2_SYN6
set_io dout_leaf_2[4] pr2_SYN7
set_io dout_leaf_2[5] pr2_SYN8
set_io dout_leaf_2[6] pr2_SYN9
set_io dout_leaf_2[7] pr2_SYN10
set_io dout_leaf_2[8] pr2_SYN11
set_io dout_leaf_2[9] pr2_SYN12
set_io dout_leaf_2[10] pr2_SYN13
set_io dout_leaf_2[11] pr2_SYN14
set_io dout_leaf_2[12] pr2_SYN15
set_io dout_leaf_2[13] pr2_SYN16
set_io dout_leaf_2[14] pr2_SYN17
set_io dout_leaf_2[15] pr2_SYN18
set_io dout_leaf_2[16] pr2_SYN19
set_io dout_leaf_2[17] pr2_SYN20
set_io dout_leaf_2[18] pr2_SYN21
set_io dout_leaf_2[19] pr2_SYN22
set_io dout_leaf_2[20] pr2_SYN23
set_io dout_leaf_2[21] pr2_SYN24
set_io dout_leaf_2[22] pr2_SYN25
set_io dout_leaf_2[23] pr2_SYN26
set_io dout_leaf_2[24] pr2_SYN27
set_io dout_leaf_2[25] pr2_SYN28
set_io dout_leaf_2[26] pr2_SYN29
set_io dout_leaf_2[27] pr2_SYN30
set_io dout_leaf_2[28] pr2_SYN31
set_io dout_leaf_2[29] pr2_SYN32
set_io dout_leaf_2[30] pr2_SYN33
set_io dout_leaf_2[31] pr2_SYN34
set_io dout_leaf_2[32] pr2_SYN35
set_io dout_leaf_2[33] pr2_SYN36
set_io dout_leaf_2[34] pr2_SYN37
set_io dout_leaf_2[35] pr2_SYN38
set_io dout_leaf_2[36] pr2_SYN39
set_io dout_leaf_2[37] pr2_SYN40
set_io dout_leaf_2[38] pr2_SYN41
set_io dout_leaf_2[39] pr2_SYN42
set_io dout_leaf_2[40] pr2_SYN43
set_io dout_leaf_2[41] pr2_SYN44
set_io dout_leaf_2[42] pr2_SYN45
set_io dout_leaf_2[43] pr2_SYN46
set_io dout_leaf_2[44] pr2_SYN47
set_io dout_leaf_2[45] pr2_SYN48
set_io dout_leaf_2[46] pr2_SYN49
set_io dout_leaf_2[47] pr2_SYN50
set_io dout_leaf_2[48] pr2_SYN51
set_io din_leaf_2[0] pr2_SYN52
set_io din_leaf_2[1] pr2_SYN53
set_io din_leaf_2[2] pr2_SYN54
set_io din_leaf_2[3] pr2_SYN55
set_io din_leaf_2[4] pr2_SYN56
set_io din_leaf_2[5] pr2_SYN57
set_io din_leaf_2[6] pr2_SYN58
set_io din_leaf_2[7] pr2_SYN59
set_io din_leaf_2[8] pr2_SYN60
set_io din_leaf_2[9] pr2_SYN61
set_io din_leaf_2[10] pr2_SYN62
set_io din_leaf_2[11] pr2_SYN63
set_io din_leaf_2[12] pr2_SYN64
set_io din_leaf_2[13] pr2_SYN65
set_io din_leaf_2[14] pr2_SYN66
set_io din_leaf_2[15] pr2_SYN67
set_io din_leaf_2[16] pr2_SYN68
set_io din_leaf_2[17] pr2_SYN69
set_io din_leaf_2[18] pr2_SYN70
set_io din_leaf_2[19] pr2_SYN71
set_io din_leaf_2[20] pr2_SYN72
set_io din_leaf_2[21] pr2_SYN73
set_io din_leaf_2[22] pr2_SYN74
set_io din_leaf_2[23] pr2_SYN75
set_io din_leaf_2[24] pr2_SYN76
set_io din_leaf_2[25] pr2_SYN77
set_io din_leaf_2[26] pr2_SYN78
set_io din_leaf_2[27] pr2_SYN79
set_io din_leaf_2[28] pr2_SYN80
set_io din_leaf_2[29] pr2_SYN81
set_io din_leaf_2[30] pr2_SYN82
set_io din_leaf_2[31] pr2_SYN83
set_io din_leaf_2[32] pr2_SYN84
set_io din_leaf_2[33] pr2_SYN85
set_io din_leaf_2[34] pr2_SYN86
set_io din_leaf_2[35] pr2_SYN87
set_io din_leaf_2[36] pr2_SYN88
set_io din_leaf_2[37] pr2_SYN89
set_io din_leaf_2[38] pr2_SYN90
set_io din_leaf_2[39] pr2_SYN91
set_io din_leaf_2[40] pr2_SYN92
set_io din_leaf_2[41] pr2_SYN93
set_io din_leaf_2[42] pr2_SYN94
set_io din_leaf_2[43] pr2_SYN95
set_io din_leaf_2[44] pr2_SYN96
set_io din_leaf_2[45] pr2_SYN97
set_io din_leaf_2[46] pr2_SYN98
set_io din_leaf_2[47] pr2_SYN99
set_io din_leaf_2[48] pr2_SYN100

set_io dout_leaf_6[0] pr6_SYN3
set_io dout_leaf_6[1] pr6_SYN4
set_io dout_leaf_6[2] pr6_SYN5
set_io dout_leaf_6[3] pr6_SYN6
set_io dout_leaf_6[4] pr6_SYN7
set_io dout_leaf_6[5] pr6_SYN8
set_io dout_leaf_6[6] pr6_SYN9
set_io dout_leaf_6[7] pr6_SYN10
set_io dout_leaf_6[8] pr6_SYN11
set_io dout_leaf_6[9] pr6_SYN12
set_io dout_leaf_6[10] pr6_SYN13
set_io dout_leaf_6[11] pr6_SYN14
set_io dout_leaf_6[12] pr6_SYN15
set_io dout_leaf_6[13] pr6_SYN16
set_io dout_leaf_6[14] pr6_SYN17
set_io dout_leaf_6[15] pr6_SYN18
set_io dout_leaf_6[16] pr6_SYN19
set_io dout_leaf_6[17] pr6_SYN20
set_io dout_leaf_6[18] pr6_SYN21
set_io dout_leaf_6[19] pr6_SYN22
set_io dout_leaf_6[20] pr6_SYN23
set_io dout_leaf_6[21] pr6_SYN24
set_io dout_leaf_6[22] pr6_SYN25
set_io dout_leaf_6[23] pr6_SYN26
set_io dout_leaf_6[24] pr6_SYN27
set_io dout_leaf_6[25] pr6_SYN28
set_io dout_leaf_6[26] pr6_SYN29
set_io dout_leaf_6[27] pr6_SYN30
set_io dout_leaf_6[28] pr6_SYN31
set_io dout_leaf_6[29] pr6_SYN32
set_io dout_leaf_6[30] pr6_SYN33
set_io dout_leaf_6[31] pr6_SYN34
set_io dout_leaf_6[32] pr6_SYN35
set_io dout_leaf_6[33] pr6_SYN36
set_io dout_leaf_6[34] pr6_SYN37
set_io dout_leaf_6[35] pr6_SYN38
set_io dout_leaf_6[36] pr6_SYN39
set_io dout_leaf_6[37] pr6_SYN40
set_io dout_leaf_6[38] pr6_SYN41
set_io dout_leaf_6[39] pr6_SYN42
set_io dout_leaf_6[40] pr6_SYN43
set_io dout_leaf_6[41] pr6_SYN44
set_io dout_leaf_6[42] pr6_SYN45
set_io dout_leaf_6[43] pr6_SYN46
set_io dout_leaf_6[44] pr6_SYN47
set_io dout_leaf_6[45] pr6_SYN48
set_io dout_leaf_6[46] pr6_SYN49
set_io dout_leaf_6[47] pr6_SYN50
set_io dout_leaf_6[48] pr6_SYN51
set_io din_leaf_6[0] pr6_SYN52
set_io din_leaf_6[1] pr6_SYN53
set_io din_leaf_6[2] pr6_SYN54
set_io din_leaf_6[3] pr6_SYN55
set_io din_leaf_6[4] pr6_SYN56
set_io din_leaf_6[5] pr6_SYN57
set_io din_leaf_6[6] pr6_SYN58
set_io din_leaf_6[7] pr6_SYN59
set_io din_leaf_6[8] pr6_SYN60
set_io din_leaf_6[9] pr6_SYN61
set_io din_leaf_6[10] pr6_SYN62
set_io din_leaf_6[11] pr6_SYN63
set_io din_leaf_6[12] pr6_SYN64
set_io din_leaf_6[13] pr6_SYN65
set_io din_leaf_6[14] pr6_SYN66
set_io din_leaf_6[15] pr6_SYN67
set_io din_leaf_6[16] pr6_SYN68
set_io din_leaf_6[17] pr6_SYN69
set_io din_leaf_6[18] pr6_SYN70
set_io din_leaf_6[19] pr6_SYN71
set_io din_leaf_6[20] pr6_SYN72
set_io din_leaf_6[21] pr6_SYN73
set_io din_leaf_6[22] pr6_SYN74
set_io din_leaf_6[23] pr6_SYN75
set_io din_leaf_6[24] pr6_SYN76
set_io din_leaf_6[25] pr6_SYN77
set_io din_leaf_6[26] pr6_SYN78
set_io din_leaf_6[27] pr6_SYN79
set_io din_leaf_6[28] pr6_SYN80
set_io din_leaf_6[29] pr6_SYN81
set_io din_leaf_6[30] pr6_SYN82
set_io din_leaf_6[31] pr6_SYN83
set_io din_leaf_6[32] pr6_SYN84
set_io din_leaf_6[33] pr6_SYN85
set_io din_leaf_6[34] pr6_SYN86
set_io din_leaf_6[35] pr6_SYN87
set_io din_leaf_6[36] pr6_SYN88
set_io din_leaf_6[37] pr6_SYN89
set_io din_leaf_6[38] pr6_SYN90
set_io din_leaf_6[39] pr6_SYN91
set_io din_leaf_6[40] pr6_SYN92
set_io din_leaf_6[41] pr6_SYN93
set_io din_leaf_6[42] pr6_SYN94
set_io din_leaf_6[43] pr6_SYN95
set_io din_leaf_6[44] pr6_SYN96
set_io din_leaf_6[45] pr6_SYN97
set_io din_leaf_6[46] pr6_SYN98
set_io din_leaf_6[47] pr6_SYN99
set_io din_leaf_6[48] pr6_SYN100

set_io dout_leaf_9[0] pr9_SYN3
set_io dout_leaf_9[1] pr9_SYN4
set_io dout_leaf_9[2] pr9_SYN5
set_io dout_leaf_9[3] pr9_SYN6
set_io dout_leaf_9[4] pr9_SYN7
set_io dout_leaf_9[5] pr9_SYN8
set_io dout_leaf_9[6] pr9_SYN9
set_io dout_leaf_9[7] pr9_SYN10
set_io dout_leaf_9[8] pr9_SYN11
set_io dout_leaf_9[9] pr9_SYN12
set_io dout_leaf_9[10] pr9_SYN13
set_io dout_leaf_9[11] pr9_SYN14
set_io dout_leaf_9[12] pr9_SYN15
set_io dout_leaf_9[13] pr9_SYN16
set_io dout_leaf_9[14] pr9_SYN17
set_io dout_leaf_9[15] pr9_SYN18
set_io dout_leaf_9[16] pr9_SYN19
set_io dout_leaf_9[17] pr9_SYN20
set_io dout_leaf_9[18] pr9_SYN21
set_io dout_leaf_9[19] pr9_SYN22
set_io dout_leaf_9[20] pr9_SYN23
set_io dout_leaf_9[21] pr9_SYN24
set_io dout_leaf_9[22] pr9_SYN25
set_io dout_leaf_9[23] pr9_SYN26
set_io dout_leaf_9[24] pr9_SYN27
set_io dout_leaf_9[25] pr9_SYN28
set_io dout_leaf_9[26] pr9_SYN29
set_io dout_leaf_9[27] pr9_SYN30
set_io dout_leaf_9[28] pr9_SYN31
set_io dout_leaf_9[29] pr9_SYN32
set_io dout_leaf_9[30] pr9_SYN33
set_io dout_leaf_9[31] pr9_SYN34
set_io dout_leaf_9[32] pr9_SYN35
set_io dout_leaf_9[33] pr9_SYN36
set_io dout_leaf_9[34] pr9_SYN37
set_io dout_leaf_9[35] pr9_SYN38
set_io dout_leaf_9[36] pr9_SYN39
set_io dout_leaf_9[37] pr9_SYN40
set_io dout_leaf_9[38] pr9_SYN41
set_io dout_leaf_9[39] pr9_SYN42
set_io dout_leaf_9[40] pr9_SYN43
set_io dout_leaf_9[41] pr9_SYN44
set_io dout_leaf_9[42] pr9_SYN45
set_io dout_leaf_9[43] pr9_SYN46
set_io dout_leaf_9[44] pr9_SYN47
set_io dout_leaf_9[45] pr9_SYN48
set_io dout_leaf_9[46] pr9_SYN49
set_io dout_leaf_9[47] pr9_SYN50
set_io dout_leaf_9[48] pr9_SYN51
set_io din_leaf_9[0] pr9_SYN52
set_io din_leaf_9[1] pr9_SYN53
set_io din_leaf_9[2] pr9_SYN54
set_io din_leaf_9[3] pr9_SYN55
set_io din_leaf_9[4] pr9_SYN56
set_io din_leaf_9[5] pr9_SYN57
set_io din_leaf_9[6] pr9_SYN58
set_io din_leaf_9[7] pr9_SYN59
set_io din_leaf_9[8] pr9_SYN60
set_io din_leaf_9[9] pr9_SYN61
set_io din_leaf_9[10] pr9_SYN62
set_io din_leaf_9[11] pr9_SYN63
set_io din_leaf_9[12] pr9_SYN64
set_io din_leaf_9[13] pr9_SYN65
set_io din_leaf_9[14] pr9_SYN66
set_io din_leaf_9[15] pr9_SYN67
set_io din_leaf_9[16] pr9_SYN68
set_io din_leaf_9[17] pr9_SYN69
set_io din_leaf_9[18] pr9_SYN70
set_io din_leaf_9[19] pr9_SYN71
set_io din_leaf_9[20] pr9_SYN72
set_io din_leaf_9[21] pr9_SYN73
set_io din_leaf_9[22] pr9_SYN74
set_io din_leaf_9[23] pr9_SYN75
set_io din_leaf_9[24] pr9_SYN76
set_io din_leaf_9[25] pr9_SYN77
set_io din_leaf_9[26] pr9_SYN78
set_io din_leaf_9[27] pr9_SYN79
set_io din_leaf_9[28] pr9_SYN80
set_io din_leaf_9[29] pr9_SYN81
set_io din_leaf_9[30] pr9_SYN82
set_io din_leaf_9[31] pr9_SYN83
set_io din_leaf_9[32] pr9_SYN84
set_io din_leaf_9[33] pr9_SYN85
set_io din_leaf_9[34] pr9_SYN86
set_io din_leaf_9[35] pr9_SYN87
set_io din_leaf_9[36] pr9_SYN88
set_io din_leaf_9[37] pr9_SYN89
set_io din_leaf_9[38] pr9_SYN90
set_io din_leaf_9[39] pr9_SYN91
set_io din_leaf_9[40] pr9_SYN92
set_io din_leaf_9[41] pr9_SYN93
set_io din_leaf_9[42] pr9_SYN94
set_io din_leaf_9[43] pr9_SYN95
set_io din_leaf_9[44] pr9_SYN96
set_io din_leaf_9[45] pr9_SYN97
set_io din_leaf_9[46] pr9_SYN98
set_io din_leaf_9[47] pr9_SYN99
set_io din_leaf_9[48] pr9_SYN100

set_io dout_leaf_10[0] pr10_SYN3
set_io dout_leaf_10[1] pr10_SYN4
set_io dout_leaf_10[2] pr10_SYN5
set_io dout_leaf_10[3] pr10_SYN6
set_io dout_leaf_10[4] pr10_SYN7
set_io dout_leaf_10[5] pr10_SYN8
set_io dout_leaf_10[6] pr10_SYN9
set_io dout_leaf_10[7] pr10_SYN10
set_io dout_leaf_10[8] pr10_SYN11
set_io dout_leaf_10[9] pr10_SYN12
set_io dout_leaf_10[10] pr10_SYN13
set_io dout_leaf_10[11] pr10_SYN14
set_io dout_leaf_10[12] pr10_SYN15
set_io dout_leaf_10[13] pr10_SYN16
set_io dout_leaf_10[14] pr10_SYN17
set_io dout_leaf_10[15] pr10_SYN18
set_io dout_leaf_10[16] pr10_SYN19
set_io dout_leaf_10[17] pr10_SYN20
set_io dout_leaf_10[18] pr10_SYN21
set_io dout_leaf_10[19] pr10_SYN22
set_io dout_leaf_10[20] pr10_SYN23
set_io dout_leaf_10[21] pr10_SYN24
set_io dout_leaf_10[22] pr10_SYN25
set_io dout_leaf_10[23] pr10_SYN26
set_io dout_leaf_10[24] pr10_SYN27
set_io dout_leaf_10[25] pr10_SYN28
set_io dout_leaf_10[26] pr10_SYN29
set_io dout_leaf_10[27] pr10_SYN30
set_io dout_leaf_10[28] pr10_SYN31
set_io dout_leaf_10[29] pr10_SYN32
set_io dout_leaf_10[30] pr10_SYN33
set_io dout_leaf_10[31] pr10_SYN34
set_io dout_leaf_10[32] pr10_SYN35
set_io dout_leaf_10[33] pr10_SYN36
set_io dout_leaf_10[34] pr10_SYN37
set_io dout_leaf_10[35] pr10_SYN38
set_io dout_leaf_10[36] pr10_SYN39
set_io dout_leaf_10[37] pr10_SYN40
set_io dout_leaf_10[38] pr10_SYN41
set_io dout_leaf_10[39] pr10_SYN42
set_io dout_leaf_10[40] pr10_SYN43
set_io dout_leaf_10[41] pr10_SYN44
set_io dout_leaf_10[42] pr10_SYN45
set_io dout_leaf_10[43] pr10_SYN46
set_io dout_leaf_10[44] pr10_SYN47
set_io dout_leaf_10[45] pr10_SYN48
set_io dout_leaf_10[46] pr10_SYN49
set_io dout_leaf_10[47] pr10_SYN50
set_io dout_leaf_10[48] pr10_SYN51
set_io din_leaf_10[0] pr10_SYN52
set_io din_leaf_10[1] pr10_SYN53
set_io din_leaf_10[2] pr10_SYN54
set_io din_leaf_10[3] pr10_SYN55
set_io din_leaf_10[4] pr10_SYN56
set_io din_leaf_10[5] pr10_SYN57
set_io din_leaf_10[6] pr10_SYN58
set_io din_leaf_10[7] pr10_SYN59
set_io din_leaf_10[8] pr10_SYN60
set_io din_leaf_10[9] pr10_SYN61
set_io din_leaf_10[10] pr10_SYN62
set_io din_leaf_10[11] pr10_SYN63
set_io din_leaf_10[12] pr10_SYN64
set_io din_leaf_10[13] pr10_SYN65
set_io din_leaf_10[14] pr10_SYN66
set_io din_leaf_10[15] pr10_SYN67
set_io din_leaf_10[16] pr10_SYN68
set_io din_leaf_10[17] pr10_SYN69
set_io din_leaf_10[18] pr10_SYN70
set_io din_leaf_10[19] pr10_SYN71
set_io din_leaf_10[20] pr10_SYN72
set_io din_leaf_10[21] pr10_SYN73
set_io din_leaf_10[22] pr10_SYN74
set_io din_leaf_10[23] pr10_SYN75
set_io din_leaf_10[24] pr10_SYN76
set_io din_leaf_10[25] pr10_SYN77
set_io din_leaf_10[26] pr10_SYN78
set_io din_leaf_10[27] pr10_SYN79
set_io din_leaf_10[28] pr10_SYN80
set_io din_leaf_10[29] pr10_SYN81
set_io din_leaf_10[30] pr10_SYN82
set_io din_leaf_10[31] pr10_SYN83
set_io din_leaf_10[32] pr10_SYN84
set_io din_leaf_10[33] pr10_SYN85
set_io din_leaf_10[34] pr10_SYN86
set_io din_leaf_10[35] pr10_SYN87
set_io din_leaf_10[36] pr10_SYN88
set_io din_leaf_10[37] pr10_SYN89
set_io din_leaf_10[38] pr10_SYN90
set_io din_leaf_10[39] pr10_SYN91
set_io din_leaf_10[40] pr10_SYN92
set_io din_leaf_10[41] pr10_SYN93
set_io din_leaf_10[42] pr10_SYN94
set_io din_leaf_10[43] pr10_SYN95
set_io din_leaf_10[44] pr10_SYN96
set_io din_leaf_10[45] pr10_SYN97
set_io din_leaf_10[46] pr10_SYN98
set_io din_leaf_10[47] pr10_SYN99
set_io din_leaf_10[48] pr10_SYN100

set_io dout_leaf_11[0] pr11_SYN3
set_io dout_leaf_11[1] pr11_SYN4
set_io dout_leaf_11[2] pr11_SYN5
set_io dout_leaf_11[3] pr11_SYN6
set_io dout_leaf_11[4] pr11_SYN7
set_io dout_leaf_11[5] pr11_SYN8
set_io dout_leaf_11[6] pr11_SYN9
set_io dout_leaf_11[7] pr11_SYN10
set_io dout_leaf_11[8] pr11_SYN11
set_io dout_leaf_11[9] pr11_SYN12
set_io dout_leaf_11[10] pr11_SYN13
set_io dout_leaf_11[11] pr11_SYN14
set_io dout_leaf_11[12] pr11_SYN15
set_io dout_leaf_11[13] pr11_SYN16
set_io dout_leaf_11[14] pr11_SYN17
set_io dout_leaf_11[15] pr11_SYN18
set_io dout_leaf_11[16] pr11_SYN19
set_io dout_leaf_11[17] pr11_SYN20
set_io dout_leaf_11[18] pr11_SYN21
set_io dout_leaf_11[19] pr11_SYN22
set_io dout_leaf_11[20] pr11_SYN23
set_io dout_leaf_11[21] pr11_SYN24
set_io dout_leaf_11[22] pr11_SYN25
set_io dout_leaf_11[23] pr11_SYN26
set_io dout_leaf_11[24] pr11_SYN27
set_io dout_leaf_11[25] pr11_SYN28
set_io dout_leaf_11[26] pr11_SYN29
set_io dout_leaf_11[27] pr11_SYN30
set_io dout_leaf_11[28] pr11_SYN31
set_io dout_leaf_11[29] pr11_SYN32
set_io dout_leaf_11[30] pr11_SYN33
set_io dout_leaf_11[31] pr11_SYN34
set_io dout_leaf_11[32] pr11_SYN35
set_io dout_leaf_11[33] pr11_SYN36
set_io dout_leaf_11[34] pr11_SYN37
set_io dout_leaf_11[35] pr11_SYN38
set_io dout_leaf_11[36] pr11_SYN39
set_io dout_leaf_11[37] pr11_SYN40
set_io dout_leaf_11[38] pr11_SYN41
set_io dout_leaf_11[39] pr11_SYN42
set_io dout_leaf_11[40] pr11_SYN43
set_io dout_leaf_11[41] pr11_SYN44
set_io dout_leaf_11[42] pr11_SYN45
set_io dout_leaf_11[43] pr11_SYN46
set_io dout_leaf_11[44] pr11_SYN47
set_io dout_leaf_11[45] pr11_SYN48
set_io dout_leaf_11[46] pr11_SYN49
set_io dout_leaf_11[47] pr11_SYN50
set_io dout_leaf_11[48] pr11_SYN51
set_io din_leaf_11[0] pr11_SYN52
set_io din_leaf_11[1] pr11_SYN53
set_io din_leaf_11[2] pr11_SYN54
set_io din_leaf_11[3] pr11_SYN55
set_io din_leaf_11[4] pr11_SYN56
set_io din_leaf_11[5] pr11_SYN57
set_io din_leaf_11[6] pr11_SYN58
set_io din_leaf_11[7] pr11_SYN59
set_io din_leaf_11[8] pr11_SYN60
set_io din_leaf_11[9] pr11_SYN61
set_io din_leaf_11[10] pr11_SYN62
set_io din_leaf_11[11] pr11_SYN63
set_io din_leaf_11[12] pr11_SYN64
set_io din_leaf_11[13] pr11_SYN65
set_io din_leaf_11[14] pr11_SYN66
set_io din_leaf_11[15] pr11_SYN67
set_io din_leaf_11[16] pr11_SYN68
set_io din_leaf_11[17] pr11_SYN69
set_io din_leaf_11[18] pr11_SYN70
set_io din_leaf_11[19] pr11_SYN71
set_io din_leaf_11[20] pr11_SYN72
set_io din_leaf_11[21] pr11_SYN73
set_io din_leaf_11[22] pr11_SYN74
set_io din_leaf_11[23] pr11_SYN75
set_io din_leaf_11[24] pr11_SYN76
set_io din_leaf_11[25] pr11_SYN77
set_io din_leaf_11[26] pr11_SYN78
set_io din_leaf_11[27] pr11_SYN79
set_io din_leaf_11[28] pr11_SYN80
set_io din_leaf_11[29] pr11_SYN81
set_io din_leaf_11[30] pr11_SYN82
set_io din_leaf_11[31] pr11_SYN83
set_io din_leaf_11[32] pr11_SYN84
set_io din_leaf_11[33] pr11_SYN85
set_io din_leaf_11[34] pr11_SYN86
set_io din_leaf_11[35] pr11_SYN87
set_io din_leaf_11[36] pr11_SYN88
set_io din_leaf_11[37] pr11_SYN89
set_io din_leaf_11[38] pr11_SYN90
set_io din_leaf_11[39] pr11_SYN91
set_io din_leaf_11[40] pr11_SYN92
set_io din_leaf_11[41] pr11_SYN93
set_io din_leaf_11[42] pr11_SYN94
set_io din_leaf_11[43] pr11_SYN95
set_io din_leaf_11[44] pr11_SYN96
set_io din_leaf_11[45] pr11_SYN97
set_io din_leaf_11[46] pr11_SYN98
set_io din_leaf_11[47] pr11_SYN99
set_io din_leaf_11[48] pr11_SYN100

set_io dout_leaf_13[0] pr13_SYN3
set_io dout_leaf_13[1] pr13_SYN4
set_io dout_leaf_13[2] pr13_SYN5
set_io dout_leaf_13[3] pr13_SYN6
set_io dout_leaf_13[4] pr13_SYN7
set_io dout_leaf_13[5] pr13_SYN8
set_io dout_leaf_13[6] pr13_SYN9
set_io dout_leaf_13[7] pr13_SYN10
set_io dout_leaf_13[8] pr13_SYN11
set_io dout_leaf_13[9] pr13_SYN12
set_io dout_leaf_13[10] pr13_SYN13
set_io dout_leaf_13[11] pr13_SYN14
set_io dout_leaf_13[12] pr13_SYN15
set_io dout_leaf_13[13] pr13_SYN16
set_io dout_leaf_13[14] pr13_SYN17
set_io dout_leaf_13[15] pr13_SYN18
set_io dout_leaf_13[16] pr13_SYN19
set_io dout_leaf_13[17] pr13_SYN20
set_io dout_leaf_13[18] pr13_SYN21
set_io dout_leaf_13[19] pr13_SYN22
set_io dout_leaf_13[20] pr13_SYN23
set_io dout_leaf_13[21] pr13_SYN24
set_io dout_leaf_13[22] pr13_SYN25
set_io dout_leaf_13[23] pr13_SYN26
set_io dout_leaf_13[24] pr13_SYN27
set_io dout_leaf_13[25] pr13_SYN28
set_io dout_leaf_13[26] pr13_SYN29
set_io dout_leaf_13[27] pr13_SYN30
set_io dout_leaf_13[28] pr13_SYN31
set_io dout_leaf_13[29] pr13_SYN32
set_io dout_leaf_13[30] pr13_SYN33
set_io dout_leaf_13[31] pr13_SYN34
set_io dout_leaf_13[32] pr13_SYN35
set_io dout_leaf_13[33] pr13_SYN36
set_io dout_leaf_13[34] pr13_SYN37
set_io dout_leaf_13[35] pr13_SYN38
set_io dout_leaf_13[36] pr13_SYN39
set_io dout_leaf_13[37] pr13_SYN40
set_io dout_leaf_13[38] pr13_SYN41
set_io dout_leaf_13[39] pr13_SYN42
set_io dout_leaf_13[40] pr13_SYN43
set_io dout_leaf_13[41] pr13_SYN44
set_io dout_leaf_13[42] pr13_SYN45
set_io dout_leaf_13[43] pr13_SYN46
set_io dout_leaf_13[44] pr13_SYN47
set_io dout_leaf_13[45] pr13_SYN48
set_io dout_leaf_13[46] pr13_SYN49
set_io dout_leaf_13[47] pr13_SYN50
set_io dout_leaf_13[48] pr13_SYN51
set_io din_leaf_13[0] pr13_SYN52
set_io din_leaf_13[1] pr13_SYN53
set_io din_leaf_13[2] pr13_SYN54
set_io din_leaf_13[3] pr13_SYN55
set_io din_leaf_13[4] pr13_SYN56
set_io din_leaf_13[5] pr13_SYN57
set_io din_leaf_13[6] pr13_SYN58
set_io din_leaf_13[7] pr13_SYN59
set_io din_leaf_13[8] pr13_SYN60
set_io din_leaf_13[9] pr13_SYN61
set_io din_leaf_13[10] pr13_SYN62
set_io din_leaf_13[11] pr13_SYN63
set_io din_leaf_13[12] pr13_SYN64
set_io din_leaf_13[13] pr13_SYN65
set_io din_leaf_13[14] pr13_SYN66
set_io din_leaf_13[15] pr13_SYN67
set_io din_leaf_13[16] pr13_SYN68
set_io din_leaf_13[17] pr13_SYN69
set_io din_leaf_13[18] pr13_SYN70
set_io din_leaf_13[19] pr13_SYN71
set_io din_leaf_13[20] pr13_SYN72
set_io din_leaf_13[21] pr13_SYN73
set_io din_leaf_13[22] pr13_SYN74
set_io din_leaf_13[23] pr13_SYN75
set_io din_leaf_13[24] pr13_SYN76
set_io din_leaf_13[25] pr13_SYN77
set_io din_leaf_13[26] pr13_SYN78
set_io din_leaf_13[27] pr13_SYN79
set_io din_leaf_13[28] pr13_SYN80
set_io din_leaf_13[29] pr13_SYN81
set_io din_leaf_13[30] pr13_SYN82
set_io din_leaf_13[31] pr13_SYN83
set_io din_leaf_13[32] pr13_SYN84
set_io din_leaf_13[33] pr13_SYN85
set_io din_leaf_13[34] pr13_SYN86
set_io din_leaf_13[35] pr13_SYN87
set_io din_leaf_13[36] pr13_SYN88
set_io din_leaf_13[37] pr13_SYN89
set_io din_leaf_13[38] pr13_SYN90
set_io din_leaf_13[39] pr13_SYN91
set_io din_leaf_13[40] pr13_SYN92
set_io din_leaf_13[41] pr13_SYN93
set_io din_leaf_13[42] pr13_SYN94
set_io din_leaf_13[43] pr13_SYN95
set_io din_leaf_13[44] pr13_SYN96
set_io din_leaf_13[45] pr13_SYN97
set_io din_leaf_13[46] pr13_SYN98
set_io din_leaf_13[47] pr13_SYN99
set_io din_leaf_13[48] pr13_SYN100

set_io start_signal_2 pr2_SYN101
set_io start_signal_6 pr6_SYN101
set_io start_signal_9 pr9_SYN101
set_io start_signal_10 pr10_SYN101
set_io start_signal_11 pr11_SYN101
set_io start_signal_13 pr13_SYN101
